
body{
    background-color:#303030;
    /*font-family: 'Oswald', sans-serif;*/
    font-family: 'Oswald', 'Open Sans Condensed', sans-serif;

    width: 80%;
    max-width: 1200px;
    margin-right: auto;
    margin-left: auto;
    
}

.main-style{
    max-width: 80%;
}


header{
    position: fixed;
    top: 0;
    left: 0;
    color: white;

    width: 100%;
    margin-right: auto;
    margin-left: auto;
    display: block;
    background-color: #303030;
}

nav{
    width: 80%;
    margin-right: auto;
    margin-left: auto;
    display: block;
    z-index: 10;
}
.right-nav{
    float: right;
    padding-left: 2rem;
    padding-right: 2rem;
    font-size: 20px;
    margin-top: 1%;
}
.clicked a{
    background-color: #505050;
    padding: .5rem 1rem;
    color: white;
}
.mid{
    border-left: solid 2px grey;
}
nav ul li{
    list-style-type: none;
    float: left;
}
li a{
    color: grey;
    text-decoration: none;
}
#home-page a{
    color: white;
}

li a:hover{
    color: white;
}

    @media (min-width: 800px){
        <i class="fas fa-bars"></i>
    }









ul{
    margin: 0px;
    margin-top: 10px;
}

#home-page{
    font-size: 40px;
    font-weight: bold;
    letter-spacing: .1rem;

    padding-left: 0px;
    padding-top: 0px;
    top: 0px;
    left: 0px;
    margin-bottom: 2%;
    margin-top: 0px;
    margin-left: 0px;
    
}



.img{
    max-width: 100%;
}






.main-page img{
    width: 100%;
    object-fit: cover;
    object-position: center;
}
.main-page p{
    color: white;
    font-size: .95rem;
    letter-spacing: .05rem;
    font-weight: 300;
}





div.top{
    padding-top: 10%;
}







h1{
    color: white;
    text-align: center;

}


.halfsplit{
    width: 50%;
}


.halfsplit.left{
    width: 50%;
    float: left;
    position: relative;
    display: block;
}
.halfsplit.right{
    width: 50%;
    position: relative;
    display: block;

}    



.halfsplit.left.text{
    color: white;
    padding-right: 25px;
    background-color: #505050;
    padding-top: 10px;
    padding-left: 25px;
    width: 45%;
    padding-bottom: 10px;
}

.halfsplit p{
    letter-spacing: .06rem;
    font-weight: 300;
}

.halfsplit.left img{
    width: 100%;
    padding: 0px;
    padding-top: 0%;
    
}

.halfsplit.right img{
    width: 100%;
    padding-top:0px;

}


.halfsplit.right.text{
    width: 46%;
    color: white;
    padding-top: 0px;
    padding-left: 30px;
    margin-top: 0px;
}




.awards-text{
    background-color: none;
}

/*----------------- COOKING CAREER ---------------*/
.cooking-career-pic{
    width: 100%;
}










/* ------------------ RESTAURANT --------------------- */


.two-column-width{
    display: flex;
    flex-wrap: wrap;
}
.two-column-width> div.restaurant-images{
    width: 50%;
    position: relative;
}


.stars{
    position: absolute;
    right: 3px;
    top: 3px;
    z-index: 1;
}
.stars i{
    padding-right: 5px;
    font-size: 20px;
}

.restaurant-images{
    display: block;
    position: relative;
    color: white;
    text-align: center;
    width: 50%;
    float: left;
    margin-bottom: 10px;

}
.info{
    position: absolute;
    text-align: center;
    width: 100%;
}

.restaurant-images img{
    opacity: .7;
    width: 100%;
    float: left;
}



.info h2{
    font-family: 'PT Serif', serif;
    font-weight: 600;
    font-size: 25px;
    padding-top: 20px;
    margin-bottom: 8px;
    
}
.info h3{
    font-family: 'Oswald', serif;
    font-weight: 400;
    font-style: italic;
    letter-spacing: .1rem;
    margin-top: 8px;
    margin-bottom: 10px;
}




.reveal h3:first-child{
    position: absolute;
      /*  
    background: grey;
    background: rgba(50, 50, 50, 0.7);
    */
    font-family: 'Oswald', serif;
    font-size: 18px;
    font-weight: 300;
    letter-spacing: .1rem;
    color: #f1f1f1;
    width: 100%;
    transition: 0.8s;
    opacity: 0;
    color: white;
    padding: 5px;
    text-align: center;

    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: block;
}

.reveal h3{
    position: absolute;
    font-family: 'Oswald', serif;
    font-size: 15px;
    font-weight: 300;
    letter-spacing: .1rem;
    color: #f1f1f1;
    width: 100%;
    transition: 0.8s;
    opacity: 0;
    color: white;
    padding: 5px;
    text-align: center;

    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: block;
}


.restaurant-images:hover img{
    opacity: .2;
}

.restaurant-images:hover .reveal h3{
    opacity: 1;
}




/*

ul.container{
    display: flex;
    flex-wrap: wrap;
    color: white;
    text-align: center;
    display: block;
}
.container li{
    width: 40%;
}
*/







/* ------------------ FILMOGRAPHY / TV ----------------  */




ul.tvs-list{
    list-style-type: none;
    color: white;
    margin-top: 50px;
}

img.left-pic{
    width: 300px;
    float: left;
    margin-right: 25px;

}

.tvs-list li{
    display: flex;
    margin-bottom: 25px;
    padding-bottom: 25px;
    border-bottom: 1px solid #505050;
}

.dates{
    font-weight: 200px;
    font-style: italic;
}
.right-info{
    margin-left: 25px;
}

.right-info h2{
    margin-top: 0px;
    font-size: 26px;
}

.right-info div{
    font-weight: 200;
}

