
body {
    background-color: black;
    color: white;
    font-family: "Lucida Bright";
}

div.section {
    padding: 10px;
}

h1 {
    text-transform: uppercase;
    font-family: "Lucida Fax";
}

img {
    max-width: 300px;

}

.char{
    font-weight: bold;
    color: red;
}

.sidenote {
    font-style: italic;
}

h4{
    padding-left: 20px;
}