
img{
    max-width: 100%;
}

body{
    margin-right: auto;
    margin-left: auto;
    width: 90%;
    max-width: 40rem;
}

html{
    font-size: 12pt;
}

    @media (min-width: 640px){
        html{
            font-size: 16pt;
        }

        .two-columns-example{
            display: flex;
        }
        .two-columns-example > *{
            width: 50%;
        }

    }