

body{
    max-width: 960px;
    font-family: 'Barlow', sans-serif;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    background-color: whitesmoke;
}

a{
    font-weight: 500;
    color: crimson;
    text-decoration: none;
}

.header{
    text-align: center;
}
h1{
    font-size: 2.75rem;
    font-family: 'Roboto Slab', serif;
    font-weight: 600;
    border-left: solid 5px crimson;
    border-right: solid 5px crimson;
    width: 250px;
    margin-right: auto;
    margin-left: auto;
}
.teaser{
    font-style: italic;
    margin-top: 2rem;
    margin-bottom: 0px;
}

.top-title{
    margin-bottom: 0px;
}

.photos{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.photo-inside{
    text-align: center;
}
.photo-inside img{
    width: 80%;

}
img{
    width: 95%;
    margin-bottom: 0px;
    max-height: 300px;
    object-fit: cover;
    object-position: center 80%;
}


section{
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

h2{
    font-family: 'Roboto Slab', serif;
    margin: 0px;
    font-size: 2.25rem;
    text-align: center;
    border-top-style: double;
    border-width: 7.5px;
    border-top-color: crimson;

    max-width: 85%;
    margin-left: auto;
    margin-right: auto;
    padding-top: .5rem;
    padding-bottom: 1rem;
}

#short-info > ul{
    list-style-type: none;
    margin: 15px;
    text-align: center;
    padding-bottom: 1rem;
    padding-left: 0px;
}

#short-info ul>li{
    padding-bottom: .25rem;
}

#ingredients-list ul{
    list-style: circle;
    margin-bottom: 3rem;
    padding-right: 10px;
}



li{
    font-size: 1.35rem;
    margin-bottom: .5rem;
    padding-bottom: 1rem;
}


.category{
    font-weight: bold;
}


.key-sentence{
    font-weight: bold;
    font-size: 1.5rem;
}
p{
    margin-top: .5rem;
    margin-bottom: .75rem;
}

li p:last-child{
    margin-bottom: 1rem;
}

#directions ol>li{
    padding-right: 10px;
}



/* #directions{
    margin-top: 3rem;
}
*/



/* #directions{
    width: 95%;
    /* border-top: solid .5px grey; 
    margin-left: 10px;
} */


/*#ingredients-list{
    border-top: solid .5px grey;
} */

/* ul{
    padding-left: 1.4rem;
}

ol{
    padding-left: 1.25rem;
    padding-right: .5rem;
}
*/




@media (min-width: 640px){
    body{
        width: 95%;
        margin-left: auto;
        margin-right: auto;
        max-width: 960px;
    }
    

    h1{
        font-size: 3.5rem;
        margin-bottom: .25rem;
        width: 350px;
    }
    .teaser{
        font-size: 1.25rem;
    }

    section.photos{
        text-align: center;
        margin-left: auto;
        margin-right: auto;
    }
    
    img{
         max-height: 500px;
    }


    h2{
        border: none;
    }

    #ingredients-list h2{
        border-top: double;
        border-width: 7.5px;
        border-top-color: crimson;
    }

    #ingredients-list ul>li{
        font-size: 1.25rem;
        padding-right: 0px;
    }

    #directions ol>li{
        font-size: 1.25rem;
        padding-right: 0px;
    }
    p{
        margin: 5px;
    }
    
    .column-grid{
        display: flex;
    }
    section#info{
        width: 60%;
    }

    #short-info{
        display: block;

    }
    section#directions{
        margin-left: 2rem;
    }



    /*#directions{
        border-top: none;
        
    }
    #ingredients-list{
        border-top: none;
        margin-right: 10px;
        padding-right: 5px;
        border-right: solid .5px grey;
    } */


}
