
body{
    background-color:#303030;
    /*font-family: 'Oswald', sans-serif;*/
    font-family: 'Oswald', 'Open Sans Condensed', sans-serif;

    width: 80%;
    max-width: 1200px;
    margin-right: auto;
    margin-left: auto;
    
}

.main-style{
    max-width: 80%;
}


header{
    position: fixed;
    top: 0;
    left: 0;
    color: white;

    width: 100%;
    margin-right: auto;
    margin-left: auto;
    display: block;
    background-color: #303030;
}

nav{
    width: 80%;
    margin-right: auto;
    margin-left: auto;
    display: block;
}

ul{
    margin: 0px;

}

nav ul li{
    list-style-type: none;
    float: left;
}

li a{
    color: white;
    text-decoration: none;
}



#home-page{
    font-size: 40px;
    font-weight: bold;
    letter-spacing: .1rem;

    padding-left: 0px;
    padding-top: 0px;
    top: 0px;
    left: 0px;
    margin-bottom: 2%;
    margin-top: 0px;
    margin-left: 0px;
    
}



.img{
    max-width: 100%;
}








.right{
    float: right;
    padding-left: 2rem;
    padding-right: 2rem;
    font-size: 20px;
    margin-top: 1%;
}
.clicked a{
    background-color: #505050;
    padding: .5rem 1rem;
}

.mid{
    border-left: solid 2px grey;
}


.main-page img{
    width: 100%;
    object-fit: cover;
    object-position: center;
}
.main-page p{
    color: white;
    font-size: .95rem;
    letter-spacing: .05rem;
    font-weight: 300;
}












div.top{
    padding-top: 10%;
}


h1{
    color: white;
    text-align: center;

}

.halfsplit.left.text{
    width: 45%;
    color: white;
    float: left;
    padding-right: 20px;
    background-color: #505050;
    padding-top: 0px;
    padding-left: 20px;
}

.halfsplit.left p{
    letter-spacing: .05rem;
}

.halfsplit.left img{
    width: 50%;
    float: left;
    padding-top: 5%;
}

.halfsplit-right img{
    width: 50%;
    padding-top:0px;

}

.halfsplit.right.text{
    width: 45%;
    color: white;
    float: left;
    padding-right: 20px;
    padding-top: 0px;
    padding-left: 20px;
    margin-top: 0px;
}

.awards-text{
    background-color: none;
}











/* ------------------ RESTAURANT --------------------- */

/*
.two-column-restaurants{
    display: flex;
}
.two-column-restaurants > div.restaurant-images{
    width: 50%;
}

*/




.restaurant-images{
    display: block;
    position: relative;
    color: white;
    text-align: center;
    width: 50%;
    float: left;

}

.info{
    position: absolute;
    text-align: center;
    width: 50%;
}



.restaurant-images img{
    opacity: .7;
}

.restaurant-images:hover img{
    opacity: .2;
}



/*
.info h2{
    position: absolute;
    font-family: 'PT Serif', serif;
    font-weight: 400;
    font-size: 22px;
}
.info h3{
    position: absolute;
    font-family: 'Oswald', serif;
    font-weight: 300;
}
*/

/*
.reveal h3{
    position: absolute;
    background: grey;
    background: rgba(50, 50, 50, 0.7);
    color: #f1f1f1;
    width: 100%;
    transition: 0.5s;
    opacity: 0;
    color: white;
    
    padding: 20px;
    text-align: center;

    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);
}
*/



ul.container{
    display: flex;
    flex-wrap: wrap;
    color: white;
    text-align: center;
    display: block;
}
.container li{
    width: 40%;
}










/* ------------------ FILMOGRAPHY / TV ----------------  */




ul.tvs-list{
    list-style-type: none;
    color: white;
}

img.left-pic{
    width: 40%;
    float: left;
    margin-bottom: 20px;
    height: 100%;
}

.tvs-list li{
    display: flex;
    height: 25%;
}

.right-info{
    margin-left: 50px;
}
.right-info h2>div{
    font-weight: 300;
}


